

.presentation{
    height: 100vh;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 35% 35% 15%;
    grid-template-areas:    "empty"
                            "details"
                            "profile"
                            "footer";
    overflow: hidden;
}

.presentation__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: details;
}

.presentation__role{
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.presentation__name{
    font-size: 28px;
    font-weight: 700;
    margin-top: 4px;
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.presentation__description{
    margin: 0;
    width: 70%;
    text-align: center;
    font-weight: 300;
    padding: 8px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.presentation__profile{
    height: 25vh;
    width: 100%;
    grid-area: profile;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.presentation__animated-background{
    height: 80%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    animation-name: opacity-ease-in;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.presentation__nickname{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transform: rotate(-90deg);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--success);
    opacity: 0;
    animation-name: opacity-ease-in;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes opacity-ease-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.presentation__photo{
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    height: 100%;
    transform:translateY(900px);
    animation: side-content-img 2s ease-in-out forwards;
    border-radius: 12px;
    background-image: url('/assets/foto-perfil.jpg');
    background-position: center;
    background-size: cover;
}

@keyframes side-content-img{
    0%{
        transform:translateY(900px);
    }
    70%{
        transform:translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}

.presentation__footer{
    width: 90vw;
    max-width: 700px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--quaternary-color);
    border-radius: 0 40px 0 0;
    transform:translateY(300px);
    animation-name: footer;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    grid-area: footer;
}

@keyframes footer{
    0%{
        transform:translateY(300px);
    }
    100%{
        transform: translateY(0px);
    }
}

.presentation__footer-item {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

  .presentation__footer-img {
    width: 40px;
    transform: translateY(0px) scale(1);
    transition: transform 0.5s ease-in-out;
  }

  .presentation__footer-item:hover .presentation__footer-img {
    transform: translateY(-20px) scale(1.1);
    transition: transform 0.3s ease-in-out;
  }

  .presentation__footer-animated-item{
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 25%;
    background: var(--primary-color);
    border-radius: 20px 20px 0 0;
    transition-duration: 0.5s;
  }

  .presentation__footer-item:hover .presentation__footer-animated-item{
    background: white;
    transition-duration: 0.5s;
  }

  @media (width > 450px) {

    
  }

  @media (width > 800px) {
    
    .presentation{
        grid-template-columns: 55% 45%;
        grid-template-rows: 20% 65% 15%;
        grid-template-areas:    "-----        profile"
                                "details        profile"
                                "footer         profile";
    }

    .presentation__name{
        font-size: 36px;
    }

    .presentation__profile{
        min-height: 100vh;
        grid-template-rows: repeat(12, 1fr);
    }

    .presentation__animated-background{
        height: 100%;
        grid-row: 1 / 13;
        grid-column: 4 / 7;
        animation: none;
        opacity: 1;
    }

    .presentation__nickname{
        grid-row: 1 / 13;
    }

    .presentation__photo{
        grid-row: 4 / 10;
    }
    
    .presentation__footer{
        width: 100%;
    }
      
  }

  @media (width > 1200px){

    .presentation__role{
        font-size: 28px;
    }

    .presentation__name{
        font-size: 44px;
        margin-top: 8px;
    }

    .presentation__description{
        font-size: 20px;
    }

    .presentation__nickname{
        font-size: 36px;
    }

  }
    