.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 12px;
    background-color: var(--primary-color);
    z-index: 1;
    box-sizing: border-box;
}

.navbar img{
    width: 60px;
}

.navbar ul{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    list-style: none;
    padding: 0;
    /* max-width: 650px; */
}

.navbar ul li a{
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
    transition-duration: 0.5s;
}

.navbar ul li a:hover{
    color: var(--light);
    transition-duration: 0.5s;
}

.navbar ul li a span{
    display: none;
}

@media (width > 450px) {


}

@media (width > 800px) {

    .navbar{
        padding: 4px 20px;
    }

    .navbar ul{
        gap: 20px;
    }

    .navbar ul li a span{
        display: inline;
    }
    
}
  